<footer class="footer">
  <div class="wrapper">
    <div class="footer-grid">
      <img src="./images/logo UMG.png" alt="logo UMG" width="120px">
<!--       <p class="footer__social">
      <a href="#" class="icon__facebook"></a>
      <a href="#" class="icon__youtube"></a>
      <a href="#" class="icon__twitter"></a>
      <a href="#" class="icon__pinterest"></a>
      <a href="#" class="icon__instagram"></a>
      </p> -->
      <div class="footer__links">
      <a href="#" class="footer__link">
        Jefferson Velásquez
      </a>
      <a href="#" class="footer__link">
        2290-18-21484
      </a>
      <a href="#" class="footer__link">
        María Micaela Ajbabul
      </a>
      <a href="#" class="footer__link">
        2290-19-
      </a>
      <a href="#" class="footer__link">
        Victor Samines
      </a>
      <a href="#" class="footer__link">
        2290-19-
      </a>
      </div>
      <div class="footer__button">
      <!-- <a class="main-left-content">
        Request Invite
      </a> -->
      </div>
      <p class="footer__copyright">
      © Proyecto Préstamos 2022 - Desarrollo Web
      </p>

    </div>
  </div>
  </footer>