<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="stylesheet" href="/styles/404.css">
    </head>

<body>

    <div class="container">
        <img src="images/img1.svg" alt="">
        <h1>La página que ha solicitado no se encuentra disponible</h1>
        <div class="boton">
       
            <a href="/">Regresar a Pagina principal</a>
        </div>
    </div>



</body>

</html>