<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/style/help.css">
  <link rel="stylesheet" href="/style/info.css">
  <title>
    <%= titulo %>
  </title>
</head>
<body>
  <%- include("template/header") %>
    <main class="help">
      <div class="wrapper">
        <div class="help-grid">
          <div class="help-video">
            <h1>Ejemplo de utilización de la Herramienta</h1>
            <iframe width="800" height="450" src="https://www.youtube.com/embed/mANgYL1wO2A" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
          </div>
  
          <article class="help-bottom-faqs">
            <h2>Pasos</h2>
            <ol>
              <li>Click en el botón registra cálculo</li>
              <li>Ingresar el plazo en años del préstamo</li>
              <li>Elegir una tasa de interés disponible</li>
              <li>Click en el botón calcular</li>
              <a href="/Formulario" class="btn-calcular" target="blank">Calcular Préstamo</a>
            </ol>
          </article>
        </div>
      </div>
    </main>

    <section class="help-bottom">
      <div class="wrapper">
        <article class="help-bottom-right">
          <h3>Preguntas Frecuentes</h3>

          <p class="accordion">¿Cómo funciona la herramienta?</p>
          <div class="panel">En la parte superior hemos dispuesto un vídeo ilustrativo que da a conocer el funcionamiento de la herramienta..</div>

          <p class="accordion">¿Desarrollarán más herramientas sobre diferentes tipos de préstamos?</p>
          <div class="panel">Por el momento se tiene contemplado implementar más funcionalidades al sitio, se dará más información en un futuro.</div>

          <p class="accordion">¿Puedo cotizar cualquier préstamos sobre saldos con la herramienta?</p>
          <div class="panel">Lo que puede obtener es una estimación, porque este tipo de préstamos llevan cuestiones legales que ya depende de cada organización financiera..</div>

          <p class="accordion">¿Cuánto tiempo estará disponible el servicio?</p>
          <div class="panel">Estará disponible durante los próximos 2 años</div>
        </article>
      </div>
    </section>
    
    <%- include("template/footer") %>
    <script src="./js/helpFaqs.js"></script>
</body>
</html>