<footer class="footer">
  <div class="wrapper">
    <div class="footer-grid">
     <!-- <img src="./images/logo UMG.png" alt="logo UMG" width="120px">
        -->
      <div class="footer__links">
      <h3>Grupo No2</h3>
        
      </div>
      <div class="footer__button">
     
      </div>
      <p class="footer__copyright">
      © UMG 2022 - Desarrollo Web Proyecto
      </p>

    </div>
  </div>
  </footer>
  
 