<header class="header">
    <div class="wrapper">
      <ul>
        <li>
          <a href="/">
            <img src="./images/logo UMG.png" alt="logo UMG" width="90px">
          </a>
       
      </ul>
    </div>
  </header>